extends layouts/main.pug

block content 
    h1 Edit Profile
    include partials/error.pug
    form#accountInfo
        input#lastNameInput(type="text" name="lastName" placeholder="성" value=user.lastName)
        input#firstNameInput(type="text", name="firstName" placeholder="이름" value=user.firstName)
        input#usernameInput(type="text" name="username" placeholder="유저 이름" value=user.username)
        button 저장
    form#emailForm
        input#emailInput(type="email", name="email" placeholder="이메일" value=user.email)
        button 이메일 변경
    if !user.socialNet
        form#passwordForm
            input#passwordInput(type="password", name="password" placeholder="비밀번호")
            input#confirmInput(type="password", name="confirm" placeholder="재입력")
            button 비밀번호 변경
    form#photoForm(enctype="multipart/form-data")
        img#photoImg(src=user.profilePhoto, alt="" width="100" height="100")
        label.photoLabel(for="photoFileInput") 사진 선택
        input#photoFileInput(type="file", name="photo" placeholder="사진" accept="image/*")
        button 업데이트
    form#deleteAccountForm
        input#deleteAccountInput(type="checkbox")
        button 계정 삭제

block scripts 
    script(src="/public/js/editProfile.js") 