extends layouts/main.pug

block content 
    include partials/error.pug
    .editprofilecontainer
        form.editprofilecontainer__form#accountInfo
            .editprofilecontainer__form-info
                span.editprofilecontainer__form-info-title 계정 정보
                .editprofilecontainer__form-info-fullname
                    .editprofilecontainer__form-info-fullname-lastname
                        span 성
                        input#lastNameInput(type="text" name="lastName" placeholder="성" value=user.lastName)
                    .editprofilecontainer__form-info-fullname-firstname
                        span 이름
                        input#firstNameInput(type="text", name="firstName" placeholder="이름" value=user.firstName)
                .editprofilecontainer__form-info-username
                    span 유저 이름
                    input#usernameInput(type="text" name="username" placeholder="유저 이름" value=user.username)
                button.editprofilecontainer__form-info-button 저장
        form.editprofilecontainer__form#emailForm
            .editprofilecontainer__form-email
                span.editprofilecontainer__form-email-title 이메일
                .editprofilecontainer__form-email-block
                    span 이메일
                    input#emailInput(type="email", name="email" placeholder="이메일" value=user.email)
                button.editprofilecontainer__form-email-button 이메일 변경
        if !user.socialNet
            form.editprofilecontainer__formpassword#passwordForm
                input#passwordInput(type="password", name="password" placeholder="비밀번호")
                input#confirmInput(type="password", name="confirm" placeholder="재입력")
                button 비밀번호 변경
        form.editprofilecontainer__form#photoForm(enctype="multipart/form-data")
            .editprofilecontainer__form-photo
                span.editprofilecontainer__form-photo-title 사진 변경
                .editprofilecontainer__form-photo-block
                    label.photoLabel(for="photoFileInput")
                        img#photoImg(src=user.profilePhoto, alt="" width="100" height="100")
                    input#photoFileInput(type="file", name="photo" placeholder="사진" accept="image/*")
                button.editprofilecontainer__form-photo-button 업데이트
        form.editprofilecontainer__formdelete#deleteAccountForm
            span.editprofilecontainer__formdelete-title 계정 삭제
            .editprofilecontainer__formdelete-block
                div
                    span.editprofilecontainer__formdelete-block-title 체크
                    input#deleteAccountInput(type="checkbox")
                button.editprofilecontainer__formdelete-button 삭제

block scripts 
    script(src="/assets/js/editProfile.js") 