extends layouts/main.pug

block content 
    .historycontainer
        .historycontainer-left
            if histories.length
                .historycontainer-left-date#leftDate
                    span.historycontainer-left-date__term 오늘
                    each history in histories.reverse()
                        - const diffTime = parseInt(((Date.now()-history.createdAt.getTime())/1000)/86400)
                        - const day = history.createdAt.getDay()
                        if diffTime === 0
                            .historycontainer-left-date__container
                                .historycontainer-left-date__container-left
                                    a(href=history.video._id)
                                        if production
                                            video(src=history.video.path)
                                        else 
                                            video(src=`/${history.video.path}`)
                                .historycontainer-left-date__container-right
                                    .historycontainer-left-date__container-right-top
                                        span.historycontainer-left-date__container-right-top-title=history.video.title
                                        button.historycontainer-left-date__container-right-top-button#deleteBtn(data-id=history.video.id) ❌
                                    .historycontainer-left-date__container-right-middle
                                        span=history.video.owner.username
                                        span •
                                        span.historycontainer-left-date__container-right-middle-views 조회수 #{history.video.metadata.views}
                                    .historycontainer-left-date__container-right-bottom
                                        span=history.video.description
        .historycontainer-right

block scripts 
    script(src="/assets/js/history.js") 
