extends layouts/main.pug

block content 
    h1 studio 
    each video in videos
        div
            a(href=`/videos/${video.id}/detail`) 
                video(src=`/${video.path}` width="400" height="400" data-id=video.id) 
            a(href=`/videos/${video.id}/detail`)
                    i.fa-solid.fa-pencil
            select#visibilitySelect 
                option(value="") 공개 상태
                option(value="private") 비공개
                option(value="public") 공개
            //- input#savePublishInput(type="checkbox", name="" checked)
            //- label(for="savePublishInput") 저장 또는 게시
            //- input#privateInput(type="checkbox", name="")
            //- label(for="privateInput") 비공개
            //- input#publicInput(type="checkbox", name="")
            //- label(for="publicInput") 공개
            h2 날짜 #{video.createdAt} &darr;
            h2 조회수 #{video.views}
            h2 댓글
                //- 해당 비디오의 댓글모음으로 이동
                a(href="") 
                    h2=video.comments.length 
            each comment in video.comments
                h2=comment
            h2 좋아요(싫어요 대비)

block scripts 
    script(src="/public/js/studio.js") 