extends layouts/main.pug

block content 
    .studiocontainers
        each video in videos
            .studiocontainers-studiocontainer
                .studiocontainers-studiocontainer-left
                    span 비디오
                    a(href=`/videos/${video.id}`) 
                        video(src=`/${video.path}` data-id=video.id)
                .studiocontainers-studiocontainer-right
                    .studiocontainers-studiocontainer-right-visibility
                        span 공개 여부
                        select#visibilitySelect 
                            option(value="") #{video.visibility==="public" ? "공개":"비공개"} / 공개 상태
                            option(value="private") 비공개
                            option(value="public") 공개
                    .studiocontainers-studiocontainer-right-date
                        span 날짜 &darr;
                        span=video.createdAt.toISOString().substring(0,10)
                    .studiocontainers-studiocontainer-right-views
                        span 조회수
                        span=video.metadata.views
                    .studiocontainers-studiocontainer-right-comments
                        span 댓글
                        span=video.comments.length
                    .studiocontainers-studiocontainer-right-likes
                        - let liked = video.metadata.liked
                        - let disliked = video.metadata.disliked
                        span 좋아요(싫어요 대비)
                        span #{(liked-disliked)/((liked+disliked)===0? 1:(liked+disliked))*100}%

block scripts 
    script(src="/assets/js/studio.js") 