extends layouts/main.pug

block content
    .watchcontainers
        .watchcontainers-container
            .watchcontainers-container-videoplayer#videoPlayer
                video.watchcontainers-container-videoplayer__video(src=`/${video.path}` data-id=video.id)
                .watchcontainers-container-videoplayer-videocontrollers
                    .watchcontainers-container-videoplayer-videocontrollers__timeline#timeline
                        .watchcontainers-container-videoplayer-videocontrollers__timeline-drag#timelineDrag
                        span.watchcontainers-container-videoplayer-videocontrollers__timeline-progress#timelineProgress
                    .watchcontainers-container-videoplayer-videocontrollers__interaction
                        .watchcontainers-container-videoplayer-videocontrollers__interaction-primary
                            .watchcontainers-container-videoplayer-videocontrollers__interaction-primary-play
                                i.watchcontainers-container-videoplayer-videocontrollers__interaction-primary-play-icon.fa-solid.fa-play#playIcon
                            .watchcontainers-container-videoplayer-videocontrollers__interaction-primary-volume
                                i.watchcontainers-container-videoplayer-videocontrollers__interaction-primary-volume-icon.fa-solid.fa-volume-high#volumeIcon
                                input.watchcontainers-container-videoplayer-videocontrollers__interaction-primary-volume-input#volumeInput(type="range", name="volume" value="100")
                            .watchcontainers-container-videoplayer-videocontrollers__interaction-primary-time
                                span.watchcontainers-container-videoplayer-videocontrollers__interaction-primary-time-currenttime#currentTimeSpan 0:00
                                span.watchcontainers-container-videoplayer-videocontrollers__interaction-primary-time-slash /
                                span.watchcontainers-container-videoplayer-videocontrollers__interaction-primary-time-totaltime#totalTimeSpan 0:00
                        .watchcontainers-container-videoplayer-videocontrollers__interaction-secondary
                            .watchcontainers-container-videoplayer-videocontrollers__interaction-secondary-expand 
                                i.watchcontainers-container-videoplayer-videocontrollers__interaction-secondary-expand-icon.fa-solid.fa-expand#expandIcon
            .watchcontainers-container-details
                .watchcontainers-container-details__primary
                    h2.watchcontainers-container-details__primary-videotitle=video.title
                    div.watchcontainers-container-details__primary-videoinfo
                        .watchcontainers-container-details__primary-videoinfo-left
                            span.watchcontainers-container-details__primary-videoinfo-left-term 조회수
                            span.watchcontainers-container-details__primary-videoinfo-left-count#views=video.metadata.views
                            span 회
                            span.watchcontainers-container-details__primary-videoinfo-left-dot •
                            span.watchcontainers-container-details__primary-videoinfo-left-year #{video.createdAt.getFullYear()}년
                            span.watchcontainers-container-details__primary-videoinfo-left-month #{video.createdAt.getMonth()+1}월
                            span #{video.createdAt.getDate()}일
                        .watchcontainers-container-details__primary-videoinfo-right
                            .watchcontainers-container-details__primary-videoinfo-right-like
                                i.watchcontainers-container-details__primary-videoinfo-right-like-icon.fa-solid.fa-thumbs-up#likeIcon
                                span.watchcontainers-container-details__primary-videoinfo-right-like-count#likedCount=video.metadata.liked
                            .watchcontainers-container-details__primary-videoinfo-right-dislike
                                i.fa-solid.fa-thumbs-down#dislikeIcon
                .watchcontainers-container-details__secondary
                    .watchcontainers-container-details__secondary-left
                        img.watchcontainers-container-details__secondary-left-img(src=video.owner.profilePhoto, alt="" width="50" height="50")
                    .watchcontainers-container-details__secondary-middle
                        .watchcontainers-container-details__secondary-middle-ownerinfo
                            h2.watchcontainers-container-details__secondary-middle-ownerinfo-username=video.owner.username
                            span=video.owner.subscribers.length 
                            span  구독자
                        .watchcontainers-container-details__secondary-middle-showmore
                            each string in video.description
                                //- TODO: show more 처리
                                if /\r|\n|\r\n/.test(string)
                                    br
                                else
                                    span=string
                    .watchcontainers-container-details__secondary-right
                        button.watchcontainers-container-details__secondary-right-button#subscribeBtn 구독
                .watchcontainers-container-details__tertiary
                    .watchcontainers-container-details__tertiary-top
                        .watchcontainers-container-details__tertiary-top-left 
                            span 댓글 
                            span#commentsLength=video.comments.length
                            span 개
                        .watchcontainers-container-details__tertiary-top-right
                            i.watchcontainers-container-details__tertiary-top-right-icon.fa-solid.fa-arrow-up-wide-short
                            span 정렬 기준
                            .watchcontainers-container-details__tertiary-top-right-hidden
                                div 인기 댓글순
                                div#newestFirst 최신순
                    if authorised
                        .watchcontainers-container-details__tertiary-middle#tertiaryMiddle
                            img.watchcontainers-container-details__tertiary-middle-img(src=user.profilePhoto, alt="" width="50" height="50")
                            form.watchcontainers-container-details__tertiary-middle-form#commentForm
                                input.watchcontainers-container-details__tertiary-middle-form-input#commentInput(type="text" name="comment" placeholder="댓글 추가...")
                                .watchcontainers-container-details__tertiary-middle-form-cancelorcomment#cancelOrComment
                                    button.watchcontainers-container-details__tertiary-middle-form-cancelorcomment-cancel#cancelBtn(type="button") 취소
                                    button.watchcontainers-container-details__tertiary-middle-form-cancelorcomment-comment#commentBtn 댓글
                    .watchcontainers-container-details__tertiary-bottom#commentContainers
                        each comment in video.comments.reverse()
                            .watchcontainers-container-details__tertiary-bottom-commentcontainer#commentContainer
                                img.watchcontainers-container-details__tertiary-bottom-commentcontainer-img(src=comment.owner.profilePhoto, alt="" width="50" height="50")
                                .watchcontainers-container-details__tertiary-bottom-commentcontainer-info
                                    span.watchcontainers-container-details__tertiary-bottom-commentcontainer-info-owner=comment.owner.username
                                    span.watchcontainers-container-details__tertiary-bottom-commentcontainer-info-createdAt=comment.createdAt.toISOString().substring(0,19)
                                    div.watchcontainers-container-details__tertiary-bottom-commentcontainer-info-text=comment.text
                                    if authorised && user._id === comment.owner._id.toString()
                                        div.watchcontainers-container-details__tertiary-bottom-commentcontainer-info-del#delComment(data-id=comment._id) ❌
        .recommanded
            span recommended

block scripts 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.2/gsap.min.js") 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.2/Draggable.min.js") 
    script(src="/assets/js/gsap.js") 
    script(src="/assets/js/watch.js")
    script(src="/assets/js/comment.js") 